  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="row">
    <div class="col"
      <div class="card text-white bg-primary mb-3">
        <h2 class="card-header">Product</h2>
        <div class="card-body">
          <h4 class="card-title">Total number of products available in the store: <%= @product_count %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col"
      <div class="card text-white bg-primary mb-3">
        <h2 class="card-header">Catagory</h2> 
        <div class="card-body">
        <h4 class="card-title">Total number of categories available in the store: <%= @category_cout %></div>
      </div>
    </div>
  </div>
</div>
